PORT=4000
# Not Required In Production
NODE_ENV="development"
MONGO_URI=mongodb+srv://dev:dev@lit-learn.y7uqd.mongodb.net/saher-internal
BASE_URL=development.saherindia.org
RESEND_API_KEY=re_B3Z436AG_2MyYpBlackAshrfX1Xx35Jwu
REDIS_URL=redis://redis:6379
JWT_ACCESS_SECRET=SUPER_SECRET_ACCESS
JWT_REFRESH_SECRET=SUPER_SECRET_REFRESH
# Not Required In Production
CLIENT_URL=http://localhost:3000
CRON_SECRET=super
