openapi: 3.1.0

info:
  title: Saher NGO Internal ERP API
  description: Internal ERP system for Saher NGO
  version: 1.0.0
  license:
    name: MIT
    identifier: MIT

tags:
  - name: User
    description: User Management Operation
  - name: Admin
    description: Admin Management Operation
  - name: Auth
    description: Auth Management Operation
  - name: Bank
    description: Bank Management Operation
  - name: Upload
    description: Upload Management Operation
  - name: Account
    description: Account Management Operation
  - name: Attendance
    description: Attendance Management Operation

servers:
  - url: https://api.saher.org/api
    description: Local
  - url: https://api.saher.org/api
    description: Production

paths:
  #Upload
  /upload/image:
    $ref: ./paths/upload/image-upload.yaml
  # --------------------------------------------------------------------- #

  # Auth
  /auth/login:
    $ref: ./paths/auth/login.yaml
  /auth/logout:
    $ref: ./paths/auth/logout.yaml
  /auth/revalidate-token:
    $ref: ./paths/auth/revalidate-token.yaml
  /auth/me:
    $ref: ./paths/auth/me.yaml

  # --------------------------------------------------------------------- #

  # Admin
  # Bank Operation
  /admin/bank/register:
    $ref: ./paths/admin/bank/register.yaml
  /admin/bank/get/{id}:
    $ref: ./paths/admin/bank/get.yaml
  /admin/bank/update/{id}:
    $ref: ./paths/admin/bank/update.yaml
  /admin/bank/delete/{id}:
    $ref: ./paths/admin/bank/delete.yaml

  # Account Operation
  /admin/account/register:
    $ref: ./paths/admin/account/register.yaml
  /admin/account/get/{id}:
    $ref: ./paths/admin/account/get.yaml
  /admin/account/update/{id}:
    $ref: ./paths/admin/account/update.yaml
  /admin/account/delete/{id}:
    $ref: ./paths/admin/account/delete.yaml

  # User Operation
  /user/get/{id}:
    $ref: ./paths/user/get.yaml
  /user/update/{id}:
    $ref: ./paths/user/update.yaml
  /user/delete/{id}:
    $ref: ./paths/user/delete.yaml

  # --------------------------------------------------------------------- #

  # Attendance
  # Mark
  /events/workshops:
    $ref: paths/events/workshops.yaml
  /events/workshops/restore/{id}:
    $ref: paths/events/workshop-restore.yaml
  /events/workshops/{workshopId}:
    $ref: paths/events/workshop-id.yaml
  /events/sessions:
    $ref: paths/events/sessions.yaml
  /events/sessions/restore/{id}:
    $ref: paths/events/session-restore.yaml
  /events/sessions/{sessionId}:
    $ref: paths/events/session-id.yaml
  /events/participants:
    $ref: paths/events/participants.yaml
  /events/participants/restore/{id}:
    $ref: paths/events/participant-restore.yaml
  /events/participants/{id}:
    $ref: paths/events/participant-id.yaml
  /events/programs:
    $ref: paths/events/programs.yaml
  /events/programs/restore/{id}:
    $ref: paths/events/program-restore.yaml
  /events/programs/{id}:
    $ref: paths/events/program-id.yaml
  /events/programs/participants/{programId}:
    $ref: paths/events/program-participants.yaml
  /events/programs/participants/{programId}/{participantId}:
    delete:
      tags: [Events]
      summary: Remove A Participant From A Program
      operationId: removeProgramParticipant
      parameters:
        - name: programId
          in: path
          required: true
          schema:
            type: string
        - name: participantId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Participant removed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: components/schemas/envelope.yaml
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: components/common/error-response.yaml
  /events/attendance/sessions/{sessionId}:
    $ref: paths/events/session-attendance.yaml
  /events/programs/workshops/sessions/{sessionId}:
    $ref: paths/events/reminder.yaml
  /attendance/me:
    $ref: ./paths/attendance/me.yaml
  /attendance/today:
    $ref: ./paths/attendance/today.yaml
  /attendance/check-in:
    $ref: ./paths/attendance/check-in.yaml
  /attendance/check-out:
    $ref: ./paths/attendance/check-out.yaml
  /attendance/overtime/check-in:
    $ref: ./paths/attendance/overtime-check-in.yaml
  /attendance/weekoff:
    $ref: ./paths/attendance/weekoff.yaml
  /attendance/mark:
    $ref: ./paths/attendance/mark.yaml

  # Retrieve
  /attendance/retrieve/{id}:
    $ref: ./paths/attendance/retrieve-user.yaml
  /attendance/retrieve:
    $ref: ./paths/attendance/retrieve-all.yaml
  /attendance/user/{id}:
    $ref: ./paths/attendance/user-history.yaml
  /attendance/record/{id}:
    $ref: ./paths/attendance/record.yaml

  # Correction
  /attendance/correction:
    $ref: ./paths/attendance/correction/create.yaml
  /attendance/correction/{id}:
    $ref: ./paths/attendance/correction/by-id.yaml
  /attendance/admin/correction:
    $ref: ./paths/attendance/correction/list-all.yaml

  # Holiday
  /attendance/holiday:
    $ref: ./paths/attendance/holiday.yaml
  /attendance/holiday/{id}:
    $ref: ./paths/attendance/holiday-id.yaml

  # Export Report
  /attendance/export/report:
    $ref: ./paths/attendance/export-report.yaml
  /attendance/download/{fileName}:
    $ref: ./paths/attendance/download.yaml

  # Cron Jobs (internal)
  /attendance/cron/create/{pass}:
    $ref: ./paths/attendance/cron-create.yaml
  /attendance/cron/auto-checkout/{pass}:
    $ref: ./paths/attendance/cron-auto-checkout.yaml

    # Export Report

components:
  securitySchemes:
    accessCookie:
      type: apiKey
      in: cookie
      name: saher_access_token
    refreshCookie:
      type: apiKey
      in: cookie
      name: saher_refresh_token

security:
  - accessCookie: []
